<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxw.hopesfire.dao.mapper.MealMapper">

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO t_meal (meal_name, meal_type, username)
        VALUES (#{entity.mealName}, #{entity.mealType}, #{entity.username})
    </insert>

    <insert id="batchInsert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO t_meal (meal_name, meal_type, username)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.mealName}, #{item.mealType}, #{item.username})
        </foreach>
    </insert>

</mapper>
